.binning-group {
    font-size: 0.7em;

    .item, .bin-label {
      float: left;
      padding-right: 4px;
    }
    .item {
      cursor: pointer;
    }
    .item.selected {
        text-decoration: underline;
    }
}
