[contenteditable]:focus {
    outline: 1px solid transparent;
}

.label-group {
    .axis-label {
        border: 1px solid transparent;
    }
    .axis-label:hover, .axis-label:focus {
        border: 1px solid #ddd;
    }
    .axis-label {
      font-weight: lighter;
    }
}