.label-group {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;

    .axis-label {
      position: absolute;
      color: #a7a7a7;
      font-weight: bold;
      font-size: 13px;
      overflow: hidden;
    }

    .axis-label.x {
      transform: translate(-50%);
    }

    .axis-label.y {
      left: 0;
      transform: translate(-50%) rotate(90deg);
    }

    .axis-label.y2 {
      transform: translate(-50%) rotate(90deg);
    }
}
