@import "../helpers/_variables.scss";

$line-width: 2;

.line-chart {

    // Lines
    .topic .line {
        fill: none;
        stroke-width: $line-width;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    // Axes
    .x.axis path,
    .y.axis path {
        display: none;
    }
    .month-axis path {
        display: none;
    }

    // This is the div that we use to simulate a line drawing animation
    // NOTE: it should be of the same color of the background of the chart
    .masking-rectangle {
        fill: $white;
    }

    .x.axis text, .y.axis text {
        font-size: 0.8em;
    }
    .x.axis path, .line-chart .y.axis path {
        display: block;
        stroke: #ADB0B6;
    }
    .series .line {
        stroke-width: 1.5px;
    }
    .vertical-grid-line, .horizontal-grid-line {
        stroke-dasharray: none;
    }
    .line {
        fill: none;
    }
    .series .group-2 {
        stroke-dasharray: 5;
        stroke-width: 1px;
    }
}
