@font-face {
  font-family: 'Karla', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Karla") format("opentype");
  font-weight: 300; }

.mapd3 {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased; }

.vertical-grid-line,
.horizontal-grid-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #EFF2F5;
  stroke-width: 1;
  stroke-dasharray: 4, 4; }

.extended-y-line,
.extended-x-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #D2D6DF;
  stroke-width: 1; }

.tick line {
  fill: none;
  stroke: #ADB0B6;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.tick text {
  font-size: 1rem;
  fill: #666A73;
  padding: 12px; }

.y-axis-label,
.x-axis-label {
  font-size: 1rem;
  fill: #ADB0B6; }

.vertical-marker-container .vertical-marker {
  stroke: #D2D6DF;
  stroke-width: 1;
  fill: none; }

.vertical-marker-container .data-point-highlighter {
  fill: #ffffff;
  stroke-width: 2; }

.tooltip-background {
  fill: rgba(255, 255, 255, 0.97);
  stroke: #D2D6DF;
  stroke-width: 1;
  border-radius: 2px; }

.tooltip-text-container, .tooltip-divider {
  fill: white;
  fill-opacity: 0.8;
  stroke: #eee;
  stroke-width: 1;
  pointer-events: none; }

.mapd3-legend .legend-entry.is-faded .legend-entry-name,
.mapd3-legend .legend-entry.is-faded .legend-entry-value,
.mapd3-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.97;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out; }

.mapd3-legend .legend-entry.is-faded .legend-entry-name,
.mapd3-legend .legend-entry.is-faded .legend-entry-value,
.mapd3-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.2; }

.line-chart .masking-rectangle {
  fill: #ffffff; }

.line-chart .x.axis text, .line-chart .y.axis text {
  font-size: 0.8em; }

.line-chart .x.axis path, .line-chart .x.axis .domain, .line-chart .y.axis path, .line-chart .y.axis .domain {
  display: block;
  stroke: #ADB0B6; }

.line-chart .vertical-grid-line, .line-chart .horizontal-grid-line {
  stroke-dasharray: none; }

.line-chart .line, .line-chart .area, .line-chart .stacked-area {
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round; }

.line-chart .line {
  fill: none; }

.line-chart .area {
  fill-opacity: 0.5; }

.line-chart .stacked-area {
  fill-opacity: 0.5; }

.brush-chart .brush-area {
  fill: #EFF2F5; }

.brush-chart rect.brush-rect.selection {
  fill-opacity: 0.08;
  fill: url("#brush-area-gradient");
  stroke-linejoin: round; }

.brush-chart rect.brush-rect.handle {
  fill: #00d8d2;
  width: 0.2rem; }

.brush-chart .axis path {
  display: none; }

.brush-group .selection {
  fill: #22A7F0; }

.brush-group .handle {
  fill: #eee; }

.binning-group .item {
  font-size: 11px; }

.binning-group .item.selected {
  text-decoration: underline; }
