[contenteditable]:focus {
  outline: 1px solid #ddd; }

[contenteditable] {
  border: 1px solid transparent; }

[contenteditable]:hover, .axis-label:focus {
  border: 1px solid #ddd; }

.vertical-grid-line,
.horizontal-grid-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #EFF2F5;
  stroke-width: 1;
  stroke-dasharray: 4, 4; }

.extended-y-line,
.extended-x-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #D2D6DF;
  stroke-width: 1; }

.tick line {
  fill: none;
  stroke: #ADB0B6;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.tick text {
  font-size: 1rem;
  fill: #666A73;
  padding: 12px; }

.y-title, .x-title {
  font-size: 0.8em; }

.tooltip-group, .legend-group {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  opacity: 0.9; }
  .tooltip-group .tooltip-title, .legend-group .tooltip-title {
    border-bottom: 1px solid #ddd;
    padding: 0 5px;
    font-size: 11px; }
  .tooltip-group .tooltip-body, .legend-group .tooltip-body {
    display: table;
    border-collapse: separate;
    border-spacing: 0 5px; }
  .tooltip-group .tooltip-item, .legend-group .tooltip-item {
    display: table-row; }
  .tooltip-group .section, .legend-group .section {
    display: table-cell;
    margin-right: 16px; }
  .tooltip-group .section.tooltip-color, .legend-group .section.tooltip-color {
    width: 8px;
    height: 8px; }
  .tooltip-group .section.tooltip-label, .tooltip-group .section.value, .legend-group .section.tooltip-label, .legend-group .section.value {
    padding: 0 5px; }

.legend-group {
  font-size: 11px; }

.mapd3-legend .legend-entry.is-faded .legend-entry-name,
.mapd3-legend .legend-entry.is-faded .legend-entry-value,
.mapd3-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.97;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out; }

.mapd3-legend .legend-entry.is-faded .legend-entry-name,
.mapd3-legend .legend-entry.is-faded .legend-entry-value,
.mapd3-legend .legend-entry.is-faded .legend-circle {
  opacity: 0.2; }

.chart .masking-rectangle {
  fill: #ffffff; }

.chart .x.axis text, .chart .y.axis text, .chart .y2.axis text {
  font-size: 0.8em; }

.chart .x.axis path, .chart .x.axis .domain, .chart .y.axis path, .chart .y.axis .domain, .chart .y2.axis path, .chart .y2.axis .domain {
  display: block;
  stroke: #ADB0B6; }

.chart .vertical-grid-line, .chart .horizontal-grid-line {
  stroke-dasharray: none; }

.chart .line, .chart .area, .chart .stacked-area {
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round; }

.chart .line {
  fill: none; }

.chart .area {
  fill-opacity: 0.5; }

.chart .stacked-area {
  fill-opacity: 0.5; }

.brush-chart .brush-area {
  fill: #EFF2F5; }

.brush-chart rect.brush-rect.selection {
  fill-opacity: 0.08;
  fill: url("#brush-area-gradient");
  stroke-linejoin: round; }

.brush-chart rect.brush-rect.handle {
  fill: #00d8d2;
  width: 0.2rem; }

.brush-chart .axis path {
  display: none; }

.brush-group .selection {
  fill: #22A7F0; }

.brush-group .handle {
  fill: #eee; }

.binning-group {
  font-size: 0.7em; }
  .binning-group .item, .binning-group .bin-label {
    float: left;
    padding-right: 4px; }
  .binning-group .item {
    cursor: pointer; }
  .binning-group .item.selected {
    text-decoration: underline; }

.vertical-marker {
  stroke: #D2D6DF;
  stroke-width: 1;
  fill: none; }

.domain-input-group .domain-input {
  font-size: 0.6em;
  background: white; }

.domain-input-group .domain-lock.locked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0E3QTdBNzt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGc+PHBhdGggY2xhc3M9InN0MCIgZD0iTTcsNDFWMTloNnYtM2MwLTYuMSw0LjktMTEsMTEtMTFzMTEsNC45LDExLDExdjNoNnYyMkg3eiBNMjksMTl2LTNjMC0yLjgtMi4yLTUtNS01cy01LDIuMi01LDV2M0gyOXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMjQsNmM1LjUsMCwxMCw0LjUsMTAsMTB2NGg2djIwSDhWMjBoNnYtNEMxNCwxMC41LDE4LjUsNiwyNCw2IE0xOCwyMGgxMnYtNGMwLTMuMy0yLjctNi02LTZzLTYsMi43LTYsNlYyMCBNMjQsNGMtNi42LDAtMTIsNS40LTEyLDEydjJIOEg2djJ2MjB2MmgyaDMyaDJ2LTJWMjB2LTJoLTJoLTR2LTJDMzYsOS40LDMwLjYsNCwyNCw0TDI0LDR6IE0yMCwxOHYtMmMwLTIuMiwxLjgtNCw0LTRzNCwxLjgsNCw0djJIMjBMMjAsMTh6Ii8+PC9nPjwvc3ZnPg==); }

.domain-input-group .domain-lock {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0E3QTdBNzt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGc+PHBhdGggY2xhc3M9InN0MCIgZD0iTTcsNDFWMTloNnYtN2MwLTYuMSw0LjktMTEsMTEtMTFzMTEsNC45LDExLDExdjNoLTZ2LTNjMC0yLjgtMi4yLTUtNS01cy01LDIuMi01LDV2N2gyMnYyMkg3eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yNCwyYzUuNSwwLDEwLDQuNSwxMCwxMHYyaC00di0yYzAtMy4zLTIuNy02LTYtNnMtNiwyLjctNiw2djhoMjJ2MjBIOFYyMGg2di04QzE0LDYuNSwxOC41LDIsMjQsMiBNMjQsMGMtNi42LDAtMTIsNS40LTEyLDEydjZIOEg2djJ2MjB2MmgyaDMyaDJ2LTJWMjB2LTJoLTJIMjB2LTZjMC0yLjIsMS44LTQsNC00czQsMS44LDQsNHYydjJoMmg0aDJ2LTJ2LTJDMzYsNS40LDMwLjYsMCwyNCwwTDI0LDB6Ii8+PC9nPjwvc3ZnPg==); }

.domain-input-group .domain-lock {
  cursor: pointer; }

.brush-range-input-group {
  white-space: nowrap;
  font-size: 0.8em; }
  .brush-range-input-group .brush-range-input, .brush-range-input-group .separator {
    padding: 0 2px; }

.label-group .axis-label {
  font-weight: lighter; }
