// .mapd3 namespacing in compiled css is messing this up...
.mapd3.mapd3-container.bar {
  display: flex;
  align-items: stretch;

  .svg-wrapper {
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
