// Tooltip (which is also the legend component)
.tooltip-group, .legend-group {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  opacity: 0.9;

  .tooltip-title {
    border-bottom: 1px solid #ddd;
    padding: 0 5px;
    font-size: 11px;
  }
  .tooltip-body {
    display: table;
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  .tooltip-item {
    display: table-row;
  }
  .section {
    display: table-cell;
    margin-right: 16px;
  }
  .section.tooltip-color {
    width: 8px;
    height: 8px;
  }
  .section.tooltip-label, .section.value {
    padding: 0 5px;
  }
}

.legend-group {
  font-size: 11px;
}
