$tooltip-width: 1;

// Tooltip
.tooltip-background {
    fill: rgba($white, 0.97);
    stroke: $grey-300;
    stroke-width: $tooltip-width;
    border-radius: 2px;
}

.tooltip-text-container, .tooltip-divider {
    fill: white;
    fill-opacity: 0.8;
    stroke: #eee;
    stroke-width: 1;
    pointer-events: none;
}

