[contenteditable]:focus {
    outline: 1px solid #ddd;
}

[contenteditable] {
    border: 1px solid transparent;
}
[contenteditable]:hover, .axis-label:focus {
    border: 1px solid #ddd;
}

.hidden {
  visibility: hidden;
}

div {
  font-size: 11px;
}